.card-head {
    background-image: url(../../assets/bgcard.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 25vh;
    border-radius: 10px 10px 0px 0px;
}
.card-head:before {
    background-color: rgba(0,0,0,.5);
    border-radius: 10px 10px 0px 0px;
    position: absolute;
    content: "";
    height: 100%;
    width: 100%;
    z-index: 0;
}
.bg-hero { 
    background-image:linear-gradient(#466eb6, #8a9bb9);
}
.bg-btn {background-color: white;}
.shadow-btn {
    box-shadow: 5px 10px rgb(255, 255, 255, 0.5);
}
