@import url('https://fonts.googleapis.com/css2?family=Almarai&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Borel&display=swap');
* {
    box-sizing: border-box;
    font-family: 'Almarai', sans-serif;
}
.borel{font-family: 'Borel', cursive;}
.z10 {z-index: 10;}
.z5 {z-index: 5;}
